.dashboard-left {
  height: 100%;
  padding-right: 0px;
}
.dashboard-left-top {
  background-color: #6666ff;
  color: white;
}

.dashboard-left-bottom {
  background-color: #6600cc;
  color: white;
  display: flexbox;
  vertical-align: middle;
}